
.images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-400px ;
    margin-bottom: 34px;
}
.img1{

    width: 41px;
    height: 32px;
}
.img2{

    width: 170px;
    height: 90px;
}

.img3{

    width: 90px;
    height: 62px;
}

.img4{

    width: 170px;
    height: 170px;
}
.img5{

    width: 70px;
    height: 14px;
}

.img6{

    width: 70px;
    height: 60px;
}
.img7{

    width: 40px;
    height: 30px;
}