

.container1{
    margin-top: -52px;
    display: flex;
    gap: 100px;
}

.box1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.box2{
    width: 100%;
    height: 100%;

}

.frame{
    width: 100%;
    height: 220px;
}

.fbtn1{
    width: 150px;
    height:60px;
   background-color: white;
   color: black;
    font-size: 14px;
    font-weight: bold;
}

.fsection1{
    font-weight: bold;
    font-size: 25px;
}
.fsection2{
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}

.dabba{
    box-shadow: 1px 1px 20px grey;
    width: 250PX;
    height: 280PX;
    position: absolute;
    right: 2px;
    bottom: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.lbtn{
    width: 100%;
    height: 50px;
    background-color: rgb(17, 50, 17);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.text{
    padding-bottom: 20px;
    font-size: 16px;
}